:root {
  --fuenteParrafos: "Quicksand", sans-serif;
  --primario: #00e9d8;
  --secundario: #2769ec;
  --blanco: #f1f1f1;
  --negro: #191919;
}

/*-------------------- GLOBALES ----------------------*/

html {
  scroll-behavior: smooth;
}
body {
  font-family: "IBM Plex Sans Hebrew", sans-serif;
}
.no-m {
  margin: 0;
}
.no-p {
  padding: 0;
}
.text-center {
  text-align: center;
}
.section {
  min-height: 100vh;
}
.bg-dark {
  background-color: var(--negro);
}
.bg-primary {
  background-color: var(--primario);
}
.color-secundary {
  color: var(--secundario);
}
.bg-transparent {
  background: transparent;
}
.medio {
  height: 50vh;
}
.fixed {
  position: fixed;
}
.d-hidden {
  visibility: hidden;
}
.d-none {
  display: none;
}

.divisor {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 400px;
  max-height: 100vh;
  text-align: justify;
  border-radius: 3px;
}
.divisor h2 {
  font-size: 55px;
  background-color: black;
}

@media only screen and (min-width: 768px) {
  .divisor {
    height: auto;
  }
  .divisor h2 {
    font-size: 90px;
  }
}

/* --------------- HEADER ------------------- */

.header {
  margin-top: 0px;
  border-radius: 10px;
  background-image: url(imagenes/layout/codigo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.header__body {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 200px;
  align-self: center;
  align-content: center;
}
.logo-link {
  color: black;
  text-decoration: none;
}
@media only screen and (min-width: 768px) {
  .header__body {
    margin-top: 150px;
  }
  .header {
    height: auto;
  }
}

.header__title {
  margin: 30px 0 5px 15px;
  border-top: 1px solid var(--negro);
  border-bottom: 1px solid var(--negro);
  align-self: center;
  background-color: var(--blanco);
  border-radius: 5px;
  padding: 5px;
  overflow: hidden;
}
.btn-menu {
  margin: 30px 15px 5px 79vw;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border-style: none;

  position: fixed;
}

/* ----------------- NAV ------------------- */

.nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  color: var(--blanco);
  list-style: none;
  justify-content: center;

  margin-top: 85px;
  margin: 85px;
  padding: 0px;
  position: fixed;
}
.nav-item {
  backdrop-filter: blur(10px);
}
.nav li {
  margin: 0px auto;
  backdrop-filter: blur(10px);
  padding: 10px 0px;
  border-radius: 5px;
  border-bottom: 1px solid var(--primario);
}
.nav li a {
  margin: 10px auto;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  color: var(--blanco);
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .btn-menu {
    display: none;
  }
  nav {
    justify-content: end;
    margin-top: -68px;
  }
  .nav {
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    gap: 20px;
    margin-top: -5px;
    margin-right: 20px;
    position: fixed;
    backdrop-filter: blur(10px);
    padding: 5px;
    border-radius: 3px;
  }
  .nav li a {
    background-color: var(--negro);
    font-size: 25px;
    transition: color 0.6s ease;
    transition: background-color 0.6s ease;
  }
  .nav li a:hover {
    color: var(--negro);
    background-color: blanchedalmond;
  }
}
/* ---------------- HEADER CONTAIN ---------- */
.img-personal {
  border-radius: 40px;
  /* margin: 100px 80px 0 0; */
  height: 300px;
  margin: 20px auto 20px;
}

.resaltado {
  display: inline;
  color: var(--blanco);
  font-size: 20px;
  background-color: black;
  border-radius: 5px;
  margin: 0px auto;
}

.presentacion {
  margin: 10px auto;
  width: 80%;
  font-size: 22px;
}

.ocultar {
  display: none;
}
.botonera {
  width: 250px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  margin: 70vh 20px 20px;
  align-self: flex-end;
  justify-self: flex-end;
  justify-content: center;
  position: fixed;
}

.agenda {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 5px;
  background-color: var(--primario);
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.desactive {
  display: none;
}
.botonera button {
  display: flex;
  align-self: flex-end;
  background: var(--blanco);
  border: transparent;
  border-bottom: 2px solid var(--primario);
  cursor: pointer;
  border-radius: 8px;
  width: 65px;
}

.botonera img {
  width: 50px;
}

.curriculum {
  align-self: flex-start;
  justify-self: end;
  margin: 150px auto 0px 20px;
}

.curriculum a {
  font-size: 20px;
  padding: 10px;
  background-color: var(--primario);
  border-radius: 5px;
  color: var(--negro);
  text-decoration: none;
  border: 2px solid var(--primario);
  transition: background-color 0.3s ease;
  position: fixed;
}
.curriculum a:hover {
  background-color: var(--blanco);
  color: var(--negro);
}

@media only screen and (min-width: 768px) {
  .curriculum {
    margin-top: -30px;
  }
  .img-personal {
    height: 350px;
  }
}

/* --------------- SECCION ABOUT -------------- */
.aboutme {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.aboutme__img {
  border-radius: 8px;
  max-width: 90%;
}
.aboutme__text {
  justify-content: center;
  font-family: var(--fuenteParrafos);
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.frase {
  font-size: 25px;
  font-family: var(--fuenteParrafos);
  color: var(--blanco);
}

@media only screen and (min-width: 768px) {
  .frase {
    font-size: 25px;
  }
  .ocultar {
    display: flex;
    margin-top: 30px;
  }
  .aboutme {
    background-image: url(imagenes/layout/fondo_blanco.jpg);
    justify-content: center;
    align-items: flex-end;
  }
  .aboutme__img {
    border-radius: 8px;
    width: 45%;
    margin-left: 20px;
  }
  .aboutme__text {
    justify-content: flex-end;
    font-family: var(--fuenteParrafos);
    width: 60%;
    line-height: 30px;
  }
}

/* ---------------- SECTION SKILLS ----------------- */

.skills {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.skills__contain {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
.skills div img {
  width: 100px;
}

.skills__one {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-family: var(--fuenteParrafos);
  font-weight: 700;
}

.bg-dark .skills__one p {
  color: var(--primario);
}
@media only screen and (min-width: 768px) {
  .skills {
    flex-direction: column;
  }
  .skills__contain {
    width: 100%;
    height: 50vh;
    flex-direction: row;
    border-radius: 5px;
  }
  .skills div img {
    width: 120px;
    transition: transform 0.3s ease;
  }
  .skills div img:hover {
    transform: rotate(20deg);
  }
  .skills__one {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bg-dark .skills__contain {
    align-items: baseline;
  }
  div .trello img {
    width: 140px;
    margin-bottom: 35px;
    margin-top: 25px;
    transition: transform 0.3s ease;
  }
  div .trello img:hover {
    transform: rotate(20deg);
  }
}

/* ------------ SECTION EXPERIENCE -----------------*/
.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110vh;
}
.card {
  min-height: 500px;
  width: 80%;
  margin-top: 50px;
  background-color: #212121;
  border: 2px solid #333333;
  text-align: center;
  color: var(--blanco);
}
.card ul {
  list-style: none;
  text-align: start;
  padding: 0px;
}
.card ul li {
  margin-left: 50px;
}
.link {
  display: flex;
  justify-self: flex-end;
  justify-content: space-between;
  margin: 20px;
  align-self: center;
}
.link a {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--primario);
  color: #191919;
}
.card .album {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0px;
  padding: 10px;
  justify-content: center;
  gap: 30px;
}
.card .album button {
  background-color: transparent;
  color: #fff;
  padding: 1px;
  font-size: 20px;
  border: 2px solid var(--blanco);

  cursor: pointer;
}
.card img {
  width: 300px;
  height: 200px;
  border-radius: 2px;
}

.miniskills {
  display: flex;
  justify-content: space-around;
}
.miniskills img {
  width: 30px;
  height: 40px;
}
/* ------------ ALBUM ------------ */
#contenedor-principal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}
#contenedor-interno {
  width: 90%;
  height: 50%;
  border-left: 2px solid #585858;
  border-right: 2px solid #585858;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.794);
}
#contenedor-interno img {
  width: 90%;
  height: 90%;
  object-fit: scale-down;
}
#contenedor-interno button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #f3f3f3;
  position: absolute;
  top: 50%;
  font-size: 3rem;
}
#contenedor-interno #btn-cierra {
  font-size: 2rem;
  top: 0;
  right: 0;
}
#btn-adelanta {
  right: 0;
}
#btn-retrocede {
  left: 0;
}
@media only screen and (min-width: 768px) {
  #contenedor-interno {
    height: 90%;
  }
  #contenedor-interno img {
    object-fit: cover;
  }
  .experience {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #galeria img {
    cursor: pointer;
  }
  #contenedor-interno button {
    transition: all 0.3s ease;
    border-radius: 3px;
  }
  #contenedor-interno button:hover {
    background-color: var(--blanco);
    color: var(--negro);
  }
  .card {
    margin-top: 100px;
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .card img {
    width: 500px;
    height: 400px;
  }
  .card-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card_arm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .link {
    width: 100%;
  }
  .miniskills img {
    width: 30px;
    height: 40px;
    transition: width 0.3s ease;
  }
  .miniskills img:hover {
    width: 35px;
  }
  .miniskills {
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
}
